<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="crm.masseditTest.MasseditTroubleTicketTest"/>
      <class name="crm.invoicetest.CreateinvoiceTest"/>
      <class name="crm.Trouble_TicketTest.CreateTroubleTicketTest"/>
      <class name="crm.invoicetest.EndToEndInvoiceTest"/>
      <class name="crm.invoicetest.Createinvoice_withoutmandatoryfieldTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
